//Common Variables
$font-stack: 'Lato',
'Arial',
sans-serif;
$primary-color:#555;
$max-viewport-width:1140px;
$primary-font-size: 20px;
$primary-font-weight:300;
$secondary-color: #fff;
$primary-bg-color:#e67e22;
$primary-bg-light-color:#cf6d17;
$ghost-bg-color: #f4f4f4;
$transperant-color: transparent;
$header-img: url('../images/1.jpg');
$testimonial-img: url('../images/back-customers.jpg');
$line-height:140%; //This applies to all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Basic setup
html {
    font-family: $font-stack;
    color: $primary-color;
    font-size: $primary-font-size;
    font-weight: $primary-font-weight;
    text-rendering: optimizeLegibility;
}

@import './partials/grid';
@import './partials/mixins';
@import './partials/header';
@import './partials/footer';
@import './partials/h123456';
@import './partials/button';
@import './partials/images';
@import './partials/ul';
@import './partials/paragraphs';
@import './partials/section';
@import './partials/link';
@import './partials/general';