    footer {
        background-color: #333;
        color: #888;
        padding: 40px;
        p {
            font-size: 80%;
            text-align: center;
        }
        a {
            padding-bottom: 5px;
        }
    }

    .ion-social-facebook:hover {
        color: #3b5998;
    }

    .ion-social-twitter:hover {
        color: #55acee;
    }

    .ion-social-googleplus:hover {
        color: #dd4b39;
    }

    .ion-social-instagram:hover {
        color: #e95950;
    }

    .footer-nav {
        list-style: none;
        float: left;
        li {
            display: inline-block;
            margin-right: 20px;
        }
    }

    .social-nav {
        float: right;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 20px;
            i {
                transition: color .2s;
            }
        }
        li:last-child {
            margin-right: 20;
        }
    }