h1,
h2,
h3 {
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
    word-spacing: 2px;
    font-weight: $primary-font-weight;
}

h1 {
    color: $secondary-color;
    font-size: 240%;
    letter-spacing: 4px;
}

h2 {
    font-size: 180%;
    text-align: center;
    letter-spacing: 4px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px; // margin: 0 auto
    content: "";
    background-color: $primary-bg-color;
    margin: 30px auto;
}

h3 {
    font-size: 110%;
}