//Link buttons
.btn {
    padding: 10px 20px;
    text-decoration: none; // border-radius: 10px;
    @include border-radius(10px);
    font-weight: $primary-font-weight;
    display: inline-block;
    margin-right: 10px;
}

.btn-orange:link,
.btn-orange:visited {
    background-color: $primary-bg-color;
    color: $secondary-color;
    border: 1px solid $primary-bg-color;
    transition: background-color .2s;
}

.btn-orange:active,
.btn-orange:hover {
    background-color: $primary-bg-light-color; // color: $secondary-color;    
}

.btn-ghost:link,
.btn-ghost:visited {
    color: $primary-bg-color;
    border: 1px solid $primary-bg-color;
    transition: background-color .2s, color .2s;
}

.btn-ghost:active,
.btn-ghost:hover {
    background-color: $primary-bg-light-color;
    color: $secondary-color;
}