* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: $dark-grayish-orange;
    font-size: $default-font-size;
    font-family: $open-sans-font-stack;
    text-rendering: optimizeLegibility;
    font-weight: $regular-font-weight;
}

.clearfix {
    clear: both;
}

.works-video {
    border: 1px solid #999;
    box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    max-width: $max-viewport-width;
    margin: 0 auto;
    justify-content: space-between;
}

.feauture-box {
    padding: 1% 0;
    flex-basis: 32%;
    text-align: justify;
}

.testimonials {
    background-color: $light-gray;
}

.testimonials-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: $max-viewport-width;
    margin: 0 auto;
}

.spotlight {
    width: 32%;
    /* box-shadow: #888888 0px 0px 8px 0px; */
    padding: 2%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.spotlight-header {
    margin-bottom: 15px;
    img {
        height: 40px;
        width: auto;
        margin-right: 10px;
        @include border-radius(10px);
        line-height: $regular-line-height;
        vertical-align: top;
        display: inline-block; // vertical-align: middle;
    }
    a {
        float: right;
        background-color: $pure-white;
        border: 1px solid $twitter-blue;
        color: $twitter-blue;
        font-weight: 700;
        font-size: 70%;
        padding: 2px 15px;
        transition: background-color .2s, color .2s;
    }
    a:active,
    a:hover {
        background-color: $twitter-blue;
        color: $pure-white;
        i {
            color: $pure-white;
        }
    }
    i {
        display: inline-block;
        margin-right: 10px;
        line-height: $regular-line-height;
        vertical-align: middle;
        font-size: 110%;
    }
}

.name {
    font-size: 80%;
    font-weight: 600;
}

.bottom-nav {
    h4 {
        color: rgb(170, 178, 189);
        font-weight: $regular-thick-font-weight;
        margin-bottom: 5px;
    }
    a {
        color: $twitter-blue;
        font-size: 70%;
        font-weight: $regular-font-weight;
        line-height: 150%;
        i {
            margin-right: 7px;
            line-height: $regular-line-height;
            vertical-align: top;
        }
    }
}

.companies {
    p {
        text-align: center;
        margin-top: 15px;
        font-size: 80%;
    }
}

.ion-social-twitter {
    color: $twitter-blue;
}

.ion-social-github {
    color: $pure-white;
}

.ion-social-rss {
    color: $dark-orange;
}

.ion-ios-email {
    color: $parrot-green;
}

.header-items,
.main-header {
    display: flex; // flex-wrap: wrap;
}

.header-items {
    flex-direction: column;
    justify-content: flex-start;
}

.main-header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    max-width: $max-viewport-width;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-flow: row;
    max-width: $max-viewport-width;
    margin: 0 auto;
    justify-content: space-between;
}