* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: $dark-grayish-orange;
    font-size: $default-font-size;
    font-family: $open-sans-font-stack;
    text-rendering: optimizeLegibility;
    font-weight: $regular-font-weight;
}

.clearfix {
    clear: both;
}

.works-video {
    border: 1px solid #999;
    box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
}

.feauture-box {
    padding: 1% 0;
}

.testimonials {
    background-color: $light-gray;
}

.spotlight {
    width: 100%;
    box-shadow: #888888 0px 0px 8px 0px;
    padding: 2%;
    background-color: $pure-white;
}

.spotlight-header {
    margin-bottom: 15px;
    img {
        height: 40px;
        width: auto;
        margin-right: 10px;
        @include border-radius(10px);
        line-height: $regular-line-height;
        vertical-align: top;
        display: inline-block; // vertical-align: middle;
    }
    a {
        float: right;
    }
}

.name {
    font-size: 80%;
    font-weight: 600;
}

.bottom-nav {
    h4 {
        color: rgb(170, 178, 189);
        font-weight: $regular-thick-font-weight;
        margin-bottom: 5px;
    }
    a {
        color: $twitter-blue;
        font-size: 70%;
        font-weight: $regular-font-weight;
        line-height: 150%;
        i {
            margin-right: 7px;
            line-height: $regular-line-height;
            vertical-align: top;
        }
    }
}

.ion-social-twitter {
    color: $twitter-blue;
}

.ion-social-github {
    color: $pure-white;
}

.ion-social-rss {
    color: $dark-orange;
}

.ion-ios-email {
    color: $parrot-green;
}