h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    font-size: 100%;
    font-weight: $regular-thick-font-weight;
}

h3 {
    font-size: 130%;
    font-weight: $regular-font-weight;
    margin-bottom: 15px;
}

h4 {
    // font-weight: $regular-thick-font-weight;
    font-size: 80%;
    line-height: 150%;
    margin-bottom: 15px;
}