//Common Variables
$open-sans-font-stack: 'Open Sans',
sans-serif;
//Font related
$default-font-size:20px;
$regular-font-weight:300;
$regular-thick-font-weight:400;
$max-viewport-width:1140px;
$regular-line-height:170%;
//Colors
$transperant-color: transperant;
$dark-grayish-orange:#50483b;
$dark-orange:#f7a500;
$mignight-blue:#2c3e50;
$midmight-blue-light:#507192;
$pure-white:#fff;
$light-green:#60a36f;
$light-green-ghost:#4c8459;
$cornflower-blue:#2F93E0;
$pale-blue:#5BC0DE;
$light-gray:#F4F4F4;
$twitter-blue:#55acee;
$parrot-green:#70D678;