//Common Variables
$open-sans-font-stack: 'Open Sans',
sans-serif;
//Font related
$default-font-size:20px;
$regular-font-weight:300;
$max-viewport-width:1140px;
//Colors
$transperant-color: transperant;
$dark-grayish-orange:#50483b;
$mignight-blue:#2c3e50;
$midmight-blue-light:#507192;
$pure-white:#fff;
$light-green:#60a36f;
$light-green-ghost:#4c8459;
$cornflower-blue:#2F93E0;