/*-------------------------------------------------*/


/*Basic Setup*/


/*-------------------------------------------------*/


/*apply to all
remove margin, padding and use border-box*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*-------------------------------------------------*/


/*Reusable Components*/


/*-------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

h2 {
    word-spacing: 2px;
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.box {
    padding: 1%;
}


/*Put content on html from within CSS use :after psedo with content*/

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

section {
    margin: 80px 0;
}

section .long-copy{
    margin-bottom: 30px;
}


/*paragraps*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;   
}

.box p {
    font-size: 90%;
    line-height: 140%;
}


/*Icons*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/*-------------------------------------------------*/


/*Header*/


/*-------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    /*100% of viewport - span complete viewport height and width*/
    height: 70vh;
    width: 100vw;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*-------------------------------------------------*/


/*Button*/


/*-------------------------------------------------*/


/*inline elements - you cannot apply padding and m,argin*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #e67e22;
    transition: background-color 0.2s, border 02s, color 0.2s;
}

.btn-orange:link,
.btn-orange:visited {
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    /*border: 1px solid #e67e22;*/
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-orange:hover,
.btn-orange:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}


/*-------------------------------------------------*/


/*Logo*/


/*-------------------------------------------------*/

.logo {
    height: 100px;
    /*To mainitain the aspect ration set only height and let width be auto*/
    width: auto;
    float: left;
    margin-top: 20px;
}


/*-------------------------------------------------*/


/*Navigation List*/


/*-------------------------------------------------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 9px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/*-------------------------------------------------*/


/*Meals*/


/*-------------------------------------------------*/

.meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.meal-photo img {
    opacity: .7;
    width: 100%;
    height: auto;
    transform: scale(1.15, 1.15);
    transition: transform 0.5s, opacity 0.5;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03, 1.03);
}